@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #fbd1b7;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    
}
h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    padding: 5%;
}
h2{
    text-align: center;
    font-size: 18px;
   }
.container{
    padding: 20px 40px;
    background-color: #150335;
    color: white;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
input{
  width: 100%;
  padding: 12px 5px;
   }
.form{
      padding-bottom: 10px;
}
.forget{
    
   color: #aec9e0;
   text-decoration: none;
   
}
.forget:hover{
    text-decoration: underline;
}

.btn{
  width: 100%;
  margin-top: 25px;
  padding: 30px;
  font-family: inherit;
  font-size: 25px;
  font-weight: 900;
  color: #150335;
  text-shadow: 2px 3px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover{
    opacity: 0.8;
}
.btn:active{
    transform: scale(0.98);
}

.medias{
    text-align: center;
    
 }
.fab{
    background-color: grey;
    color: white;
    padding: 10px;
    margin: 0 10px;
    align-items: center;
    border-radius: 5px;
    }
.fa-facebook-f{
    padding: 10px 14px;
 }